<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>管理员的curd</title>
    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/commoc/Read.js"></script>
</head>

<body>
    <ul>
        <button>管理员的修改</button>
    </ul>
    <ul>
        <button>管理员的增加</button>
    </ul>
    <ul>
        <button>管理员的删除</button>
    </ul>
    <ul>
        <button>查看所有的管理员</button>
    </ul>
</body>
<!-- 页面脚本的引入 -->
<script src="/javascripts/admin_set.js"></script>

</html>