<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>楼层的设置</title>
    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/commoc/Read.js"></script>
</head>

<body>
    <div>
        楼层：<input type="text">
    </div>
    <div>
        房间数:<input type="text">
    </div>
    <button>保存</button>
    <button>所有楼层信息的查看</button>
    <button>楼层信息的修改</button>
    <button>楼层信息的删除</button>
</body>
<script src="/javascripts/floor.js"></script>

</html>