<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>入住订单表</title>
    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/commoc/Read.js"></script>
</head>

<body>
    <p>房间:<input type="text"></p>
    <p>用户:<input type="text"></p>
    <p>入住时间:<input type="text"></p>
    <p>离店时间:<input type="text"></p>
    <p>证件号:<input type="text"></p>
    <p>手机号:<input type="text"></p>
    <p>联系人:<input type="text"></p>
    <p>是否完成交易:<input type="text"></p>
    <p>备注:<input type="text"></p>
    <button>确定</button>
    <button>修改</button>
    <button>删除</button>
    <button>查看</button>
</body>
<script src="/javascripts/hotel_order.js"></script>

</html>