<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>后台登陆页面</title>
    <link rel="stylesheet" href="/stylesheets/back_login.css">
    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/commoc/Radom.js"></script>
</head>

<body>
    <div>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;管理员：<input type="text" placeholder="请输入管理员用户名"></p>
        <p>&nbsp;管理员密码：<input type="text" placeholder="请输入管路员密码"></p>
        <p><span id="cc"></span><input type="text" placeholder="请输入验证码"> </p>
        <p class="btn">登陆</p>
    </div>
</body>
<script src="/javascripts/back_login.js"></script>

</html>