<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>房间的设置</title>
    <script src="/javascripts/jquery.min.js"></script>
</head>

<body>
    <p>房间号码：<input type="text"></p>
    <p>类型：<input type="text"></p>
    <p>入住状态：<input type="text"></p>
    <p>图片描述：<input type="text"></p>
    <button>保存</button>
    <button>修改</button>
    <button>查看</button>
    <button>删除</button>
</body>
<script src="/javascripts/room.js"></script>

</html>