<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>房间类型的确定</title>
    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/commoc/Read.js"></script>
</head>

<body>
    <p>类型名称：<input type="text"></p>
    <p>床位数量：<input type="text"></p>
    <p>床尺寸：<input type="text"></p>
    <p>电视：<input type="text"></p>
    <p>早餐：<input type="text"></p>
    <p>浴室：<input type="text"></p>
    <p>网络：<input type="text"></p>
    <p>时价：<input type="text"></p>
    <p>天价：<input type="text"></p>
    <p>月价：<input type="text"></p>
    <p>房屋面积：<input type="text"></p>
    <p>是否有窗：<input type="text"></p>
    <button>保存</button>
    <button>查看所有类别</button>
    <button>修改</button>
    <button>删除</button>
</body>
<script src="/javascripts/type.js"></script>

</html>