<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>用户增删改查</title>
    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/commoc/Read.js"></script>
</head>

<body>
    <p>姓名:<input type="text"></p>
    <p>性别：<input type="text"></p>
    <p>密码：<input type="text"></p>
    <p>手机：<input type="text"></p>
    <p>身份证：<input type="text"></p>
    <button>注册</button>
    <button>查找</button>
    <button>修改</button>
</body>
<script src="/javascripts/user.js"></script>

</html>